
.home{
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    background: url("../images/home3.png") no-repeat center;
    background-size: 100%;
    right: 5%;
    top: .24rem;
}